:root{
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
}
.dark-mode{
    --black:rgb(148, 148, 148);
    --white:rgb(7, 7, 7);
}
::-webkit-scrollbar{
    background-color: var(--white);
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--black);
    border-radius: 10px;
}
body{
    background-color: var(--white);
}
hr{
    background-color: var(--black);
    border-radius: 10px;
    width: 90vw;
    margin-top: 10px;
}
.search{
    text-align: center;
}
#searchBox{
    width: 80vw;
    padding: 1vw;
    margin: 1vw;
    background-color: var(--white);
color: var(--black);
border: 2px solid var(--black);
border-radius: 10px;
    
}
#box{
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 10px;
}
.wait{
    text-align: center;
    margin: 20px;
}
.country{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 1vw;
    border: .2vw solid var(--black);
    border-radius: 10px;
    margin: 1vw;
}
.countryFlag{
    margin: 0 1vw;
    width: 20px;
}
h3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    margin: 0;
}
h4{
    margin: 0;
}
.countryMoreDetails{
    border: 1px solid var(--black);
    margin: 1vw;border-radius: 10px;
    padding: 1vw;
    width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
nav{
    font-size: 2rem;
    padding: 0 10px;
    color: var(--black);
}
.logo{
    display: inline;
}
.mode{
    cursor: pointer;
    float: right;
}