:root{
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
}
body{
    background-color: var(--white);
}
.search{
    text-align: center;
}
#searchBox{
    width: 80vw;
    padding: 1vw;
    margin: 1vw;
    background-color: var(--white);

    
}
#box{
    border: 1px solid var(--black);
    color: var(--black);
}
.country{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 1vw;
    border: .2vw solid var(--black);
    margin: 1vw;
}
.countryFlag{
    margin: 0 1vw;
    width: 20px;
}
h3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    margin: 0;
}
h4{
    margin: 0;
}
.countryMoreDetails{
    border: 1px solid var(--black);
    margin: 1vw;
    padding: 1vw;
    width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}