.search{
    text-align: center;
}
#searchBox{
    width: 80vw;
    padding: 1vw;
    margin: 1vw;
    
}
#box{
    border: 1px solid black;
}
.country{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 1vw;
    border: .2vw solid black;
    margin: 1vw;
}
.countryFlag{
    margin: 0 1vw;
    width: 20px;
}
h3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    margin: 0;
}
h4{
    margin: 0;
}
.countryMoreDetails{
    border: 1px solid black;
    margin: 1vw;
    padding: 1vw;
    width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}